<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>

<header class="top-bar">
  <h2>🏏 Box Cricket Admin</h2>

  <div class="admin-right">
    <span class="admin-name">Welcome, {{ admin }}</span>
    <a href="/admin/logout" class="logout-btn">Logout</a>
  </div>
</header>


<section class="stats">
  <div class="card">
    <h3>Today</h3>
    <p id="today-count">0</p>
  </div>
  <div class="card">
    <h3>Tomorrow</h3>
    <p id="tomorrow-count">0</p>
  </div>
  <div class="card">
    <h3>Weekend</h3>
    <p id="weekend-count">0</p>
  </div>
  <div class="card">
    <h3>Total Revenue</h3>
    <p id="revenue-count">₹0</p>
  </div>
</section>

<section class="table-section">
  <h3>📋 Bookings</h3>
  <input
  type="text"
  id="searchInput"
  placeholder="Search by Name or Phone..."
  class="search-input"/>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Date</th>
        <th>Day</th>
        <th>Time</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="bookingTable"></tbody>
  </table>
</section>

<section class="password-section">
  <h3>🔒 Change Password</h3>
  <input id="oldPass" type="password" placeholder="Old password">
  <input id="newPass" type="password" placeholder="New password">
  <button onclick="changePassword()">Update Password</button>
</section>

  <!-- FOOTER -->
  <footer class="footer">
    © 2026 Mahammad Ayan. All rights reserved.
  </footer>

<script src="/static/admin.js"></script>

<script>
function changePassword() {
  const oldPass = document.getElementById("oldPass").value.trim();
  const newPass = document.getElementById("newPass").value.trim();

  if (!oldPass || !newPass) {
    alert("Fill both fields");
    return;
  }

  fetch("/admin/change-password", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      old_password: oldPass,
      new_password: newPass
    })
  })
  .then(res => res.json())
  .then(d => {
    if (d.success) {
      alert("Password changed successfully");
      document.getElementById("oldPass").value = "";
      document.getElementById("newPass").value = "";
    } else {
      alert(d.message);
    }
  });
}
</script>


</body>
</html>
